<nav class="navbar navbar-white bg-white row  " style="height: 70px;">
    <div class="container me-lg-5 me-md-3 me-sm-1  col-lg-3 col-md-5 col-sm-5 offset-lg-6 offset-md-2 offset-0 row ">
        <div class="  col-3 "  >
            <img src="assets/Images/icons8-file-48.png" alt="" height="45" class=" p-1  bg-primary rounded-3  w-75 ">

        </div>
        <div class="  col-9   pt-2 h-auto h-lg-50  h--md-50 h-sm-100"  style="height: 90px; " >
            <p style="font-size: 18 px; line-height: 8px; font-weight: bold; color: blue;"> Qalam Vision</p>
            <p style="font-size: 12px; line-height: 2px; color: grey;"> Arabic Document Intelligence </p>
            
        </div>
    </div>
    <div  class="container-fluid d-flex  justify-content-end   col-lg-2 col-md-2 col-sm-2  ">
      <a class="navbar-brand  " href="#" >
        <img src="assets/Images/Corelia_RICOH_logo.svg"  alt="" width="160" height="50" class="d-inline-block  align-text-top  ">
      </a>
    </div>
  </nav>